<!DOCTYPE HTML>
<html lang="en">
    <head>
        {%- include head.html -%}

        <!-- 获取 _posts 的最新一篇 -->
        {% assign latest_posts = site.posts | sort: "date" | reverse %}

        {% if latest_posts %}
            <link rel="next" href="{{site.baseurl}}{{latest_posts.first.url}}" />
        {% endif %}
    </head>
    <body>
        <div class="book">
            {%- include toc-date.html -%}

            <div class="book-body">
                <div class="book-header" role="navigation">
                    <!-- Title -->
                    <h1>
                        <i class="fa fa-circle-o-notch fa-spin"></i>
                        {% if page.title %}
                            <a href="." >{{ page.title | escape }}</a>
                        {% else %}
                            <a href="." >{{ site.title | escape }}</a>
                        {% endif %}
                    </h1>
                </div>

                <div class="body-inner">
                    {%- include body.html -%}

                    <!-- 移除“上一篇”按钮 -->
                    <!-- <a href="{{site.baseurl}}/" class="navigation navigation-prev navigation-unique">
                        <i class="fa"></i>
                    </a> -->

                    <!-- “下一篇”按钮指向 _posts 的最新一篇 -->
                    {% if latest_posts %}
                        <a href="{{site.baseurl}}{{latest_posts.first.url}}" class="navigation navigation-next navigation-unique" aria-label="Next page: {{latest_posts.first.title}}">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    {% endif %}
                </div>
            </div>

            <script>
            var gitbook = gitbook || [];
            gitbook.push(function() {
                gitbook.page.hasChanged({%- include metadata-home.json.tpl -%});
            });
            </script>
        </div>

        {%- include footer.html -%}
    </body>
</html>
